body {
    font-family: 'Lato', sans-serif;
    max-width: 1920px;
    margin: 0;
}

/* Common styles */
.special-text-color {
    color: #E55473;
}

.special-text-color2 {
    color: #B805AE;
}

.btn-primary {
    height: 64px;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #E55473;
    border: none;
    border-radius: 5px;

}


/* Header section start */
header {
    background-color: #E5547315;
    margin-bottom: 180px;
}

nav {
    height: 850px;
    background-image: url("../images/pngwing10.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

.nav-content {
    height: 500px;
    width: 700px;
    padding-top: 180px;
    margin-left: 240px;

}

.nav-content h3 {
    height: 288px;
    width: 708px;
}

.nav-img {
    height: 740px;
    width: 640px;

}

.nav-title {
    font-weight: 900;
    font-size: 85px;
    color: #272727;
    margin: 0;
}

nav p {
    height: 90px;
    width: 635px;
    margin: 32px 0;
    font-size: 18px;
    color: #27272760;
}

/* Header Section end */

/* Body sections common style */

.fetured-img-sec {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* Feature section 1 start*/
.section-01 {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}

/* Section1 common styles start */
.title-name {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 24px;
}

.title-desc {
    font-size: 18px;
    color: #27272760;
    max-width: 594px;
    margin: 0 auto 40px;
}

/* Section1 common styles end */


#fetured-img1 {
    height: 428px;
    width: 310px;
    background-color: #A7216215;
    padding: 110px 76px 0;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}

#fetured-img2 {
    height: 428px;
    width: 310px;
    padding: 110px 76px 0;
    background-color: #0597A015;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}

#fetured-img3 {
    height: 428px;
    width: 310px;
    padding: 110px 76px 0;
    background-color: #477D1115;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}

.img-name {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.help-info-sec {
    max-width: 1440px;
    max-height: 320px;
    margin: 128px auto;
}

.add-help-info {
    background-color: #27272715;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    padding: 86px 175px;
}

.add-help-info div p {
    font-size: 20px;
    font-weight: 500;
}

.info-img {
    height: 88px;
    width: 88px;
    margin: 24px 0;
}

/* Feature section 1 end*/

/* Feature section 2 start (HOT Deals salse Up*/
.section-02 {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    background-image: url("../images/rectangle9.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 122px 0;
    margin: 128px auto;
}

/* * Feature section 2 end */

/* Feature section 3 start (HOT Deals salse Up*/


.hot-deal-sec {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E5547315;
    text-align: center;
    padding: 100px;
    margin: 0 auto 128px;

}

/* order section (Extra section) start */
.order-img-card {
    height: 480px;
    width: 342px;
    background-color: #FFBD9D;
    margin-bottom: 50PX;
}

.order-img-card img {
    height: 396px;
    width: 330px;
    padding: 10px 10px 10px 10px;

}

.order-btn {
    font-size: 16px;
    font-weight: 400;
    color: whitesmoke;
    position: relative;
    background: none;
    background-color: #D65FF7;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* order section (Extra section) end */

/* * Social media section Start */

/* Instagram section */
.insta-fetured-img-card {
    height: 396px;
    width: 342px;
}

/* Suscribe section */

.email-input {
    height: 64px;
    width: 700px;
    font-size: 18px;
    color: black;
    background-color: white;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
}

/* Footer section start */
.footer-sec {
    margin: 0 auto;
    text-align: center;
    background-color: #111010;
    padding: 100px 0;
}

.footer-desc h3 {
    font-size: 40px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-desc p {
    color: #FFFFFF;
    margin-bottom: 24px;
    font-size: 18px;
    max-width: 594px;
    margin: 0 auto 40px;
}

.footer-desc #copyrights {
    color: #FFFFFF50;
    margin-bottom: 24px;
    font-size: 18px;
    max-width: 594px;
    margin: 0 auto 40px;
}